<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dojos</title>
</head>
<body>
    <div>
        <h1>New Dojo</h1>
        <form action="/dojos/create" method="post">
            <label for="name">Name:</label>
            <input type="text" name="name" id="name">
            <button>Submit</button>
        </form>
    </div>
    <div>
        <h2>All Dojos</h2>
            <div>
                    {% for dojo in dojos %}
                        <a href="/dojos/{{dojo.id}}">{{dojo.name}}</a>
                        <br>
                    {% endfor %}
            </div>
    </div>
    <a href="/ninjas">Add Ninja</a>
</body>
</html>