<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dojos</title>
</head>
<body>
    <h1> 
        {{dojo.name}}
    </h1>
    <table>
        <thead>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Age</th>
        </thead>
        {% for row in ninjas: %}
        <tr>
            <td>{{row.first_name}}</td>
            <td>{{row.last_name}}</td>
            <td>{{row.age}}</td>
        </tr>
        {% endfor %}
    </table>
    <a href="/dojos"> Home</a>
</body>
</html>